<div class="item">
	<div class="product">
		<div class="product_img">
			<a href="">
				<img src="/assets/uploads/products/{{product.image}}" alt="{{product.name}}">
			</a>
			<div class="product_action_box">
				<ul class="list_none pr_action_btn">
					<li class="add-to-cart">
						<a
