{% extends 'base.html.twig' %}

{% block title %}
	CGU AliExprass!
{% endblock %}

{% block body %}
{{ include("partials/title_section.html.twig", {'name':'Conditions Générale d\'utilisation'} )}
	
	<div class="container">
		<h1 class="text-center">Conditions Générales d'utilisation du site AliExprass</h1>

		<p class="text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate accusamus soluta necessitatibus accusantium, omnis ducimus eveniet voluptates, totam quisquam repellat temporibus quam sequi fuga unde culpa doloribus dicta maiores reiciendis?
									Repellat harum ducimus dolorem atque excepturi minima reiciendis molestiae explicabo praesentium placeat totam dignissimos labore ad quibusdam sint, id velit et distinctio fuga officia doloremque consequuntur voluptatum odio earum? Voluptatum.
									Inventore tempora amet deserunt dolorum beatae praesentium, commodi facilis, illum id aperiam consequatur error fugiat dolores nisi quod explicabo sit ipsam pariatur impedit? Beatae magnam libero dolorem at delectus ut.
									Reiciendis eos ipsam voluptatibus ab sunt quod recusandae nisi corrupti ducimus! Totam illum inventore aspernatur quod soluta atque deleniti voluptate ut, dolor aliquam vel fugit quisquam dolorem animi molestiae suscipit.
									Voluptas doloremque iusto sunt natus facere nostrum fuga perspiciatis dolor placeat, cum ipsam exercitationem repellat. Ex dolor quibusdam possimus? Fugit laboriosam accusamus dolorem tempora autem iure earum unde vitae aliquam.
									Illum ipsum maxime quidem optio odio facere iure quia deleniti dolores mollitia sit eos iusto, adipisci dolorem perferendis expedita excepturi a velit beatae culpa dicta earum, voluptatibus debitis? Aspernatur, unde.
									Vero minus facilis repellendus veritatis beatae officia eveniet amet cupiditate dolorum quod, pariatur perspiciatis laudantium quia enim, quos, soluta provident tenetur accusantium temporibus molestiae voluptas. Perspiciatis hic eum consectetur architecto.
									Et maiores recusandae excepturi id totam. Fugiat animi adipisci, necessitatibus vel inventore assumenda molestiae, vitae consectetur aperiam libero nihil quam veniam mollitia distinctio ex. Aut, impedit! Distinctio eligendi nobis est.
									Ipsum placeat odio nihil debitis libero. Ipsam ducimus corrupti aut dolore nobis illo a maiores alias, magni, neque tenetur reiciendis facere, quod quisquam possimus distinctio autem tempora nisi debitis ad.
									Repellat maiores exercitationem iusto natus doloremque laborum recusandae. Nemo nihil optio numquam maxime dicta ab modi porro eligendi voluptatem! Modi pariatur unde iure doloremque mollitia sunt doloribus ullam impedit officia!
									Maxime velit nisi vel temporibus ea fugit nemo itaque iusto, repellendus dicta laboriosam libero, veniam inventore officia! Illo distinctio, officia, architecto aut recusandae reprehenderit beatae repellat itaque accusantium libero neque!
									Sapiente at cupiditate inventore, officia dolorem veniam praesentium facere quae recusandae, saepe natus optio aliquam non, minus in. Laudantium quos non quia optio minus omnis earum obcaecati dignissimos eum debitis?
									Vero soluta, a sequi consequatur aliquid quasi cupiditate nesciunt, quod neque, deleniti velit similique voluptatum. Repudiandae, earum. Obcaecati omnis, ipsum vel ut quam itaque minima, nostrum exercitationem asperiores, magni aperiam.
									Incidunt qui temporibus odit, aspernatur explicabo vitae, beatae earum, eaque repudiandae consequuntur autem ipsa maxime laboriosam? Voluptate vitae et distinctio obcaecati omnis totam sint consectetur optio facilis, voluptates, incidunt dignissimos.
									Id magni obcaecati, repellendus consequatur nam dolorum dolor blanditiis ab, magnam architecto omnis quibusdam tenetur, voluptas sequi amet recusandae animi quam accusantium. Vitae consectetur perferendis labore, officiis omnis sint possimus!
									Harum tempora, natus totam vel illum voluptatum aut dignissimos provident odio voluptas ipsa molestias ut amet laborum sint corrupti fuga in? Voluptatum alias ea aspernatur, quibusdam fugiat sequi. Laborum, molestiae.
									Quidem quaerat beatae impedit veritatis voluptas magnam sint nihil odit placeat rerum quas quibusdam facere quis quam iusto deserunt soluta sit alias, quos illo. Adipisci accusamus magnam velit soluta ipsa.
									Ab vero facere eaque possimus? Id minus repudiandae, nisi dolor ipsa quam dolores deserunt illo perferendis ipsum odio officia, voluptates accusantium corporis deleniti. Ex minima, pariatur magnam ea deserunt repellendus.
									Earum corporis qui totam laudantium officiis aperiam fugiat hic et dignissimos, voluptates assumenda, necessitatibus itaque! Fugit magni mollitia optio. Aut repudiandae, recusandae deserunt doloremque eligendi consectetur minus similique ab odio?
									Doloremque dignissimos dolorem reiciendis quae totam nostrum doloribus quo tempora recusandae obcaecati, earum eaque laudantium, error atque deserunt illum? Eligendi animi nostrum recusandae at repudiandae inventore ab aperiam nesciunt non.</p>
	</div>


	{% endblock %}
